@model Zones

<h2>Create Zone</h2>

@using (Html.BeginForm("InsertNewZone", "ZonesOrders", FormMethod.Post, new { @class = "col-lg-4" }))
{
    <label asp-for="ZoneType" class="control-label">Zone Type</label>

    @Html.DropDownListFor(m => m.ZoneType, new List<SelectListItem>{new SelectListItem() { Text = "Demand", Value = "Demand" }, new SelectListItem() { Text = "Supply", Value = "Supply" }}, "Select Zone Type", new { @class = "form-select"})

    <br />

    <label asp-for="ZoneStatus" class="control-label">Status</label>
    @Html.CheckBoxFor(m => m.ZoneStatus, new { @checked = "checked" })

    <br />

    <input type="submit" value="Create" class="btn btn-primary" />

}