@{
    ViewData["Title"] = "Home";
}

@model User;

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "col-lg-4 offset-lg-4 login-form" }))
{
    <div class="login-form col-lg-8 offset-lg-4">
        <h3 class="login_header">Please Log in:</h3>
        <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <table class="login-form-table">
                    <br />
                    <tr>
                        <td>
                            UserName:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.Password)
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p class="register-buttons">Not a Member yet?</p><a class="nav-link text-blue register-buttons" asp-area="" asp-controller="User" asp-action="Register">Register</a>
            </div>

            <!-- Submit button -->
            <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </div>
        </form>
    </div>
}
