@{
    ViewData["Title"] = "Register";
}

@model User;

@using (Html.BeginForm("InsertNewUser", "User", FormMethod.Post, new { @class = "col-lg-4 offset-lg-4 login-form" }))
{
    <div class="zones-wrapper login-form col-lg-8 offset-lg-4">
        <h3 class="login_header">Register:</h3>
        <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <table>
                    <br />
                    <tr>
                        <td>
                            UserName:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.Password)
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        </form>
    </div>
}
