@model Zones

<h2>Update Zone # @Model.ID</h2>

@using (Html.BeginForm("SaveZoneChanges", "ZonesOrders", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="ZoneType" class="control-label">Zone Type</label>

    @Html.TextBox("ZoneType")

    <br />

    <label asp-for="ZoneStatus" class="control-label">Status</label>
    @Html.CheckBoxFor(m => m.ZoneStatus, new { @checked = "checked" })

    <br /> 

    <input type="submit" value="Update Product" class="btn btn-primary" />

}