@{
    ViewData["Title"] = "Zones";
}

<div class="text-center">
    <h1 class="display-4">CTrader API</h1>
</div>

@model IEnumerable<CTraderMVC.Models.ZonesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model is not null)
{
    <div><b>List of Zones</b><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th> Time Stamp </th>
            <th>Zone Type </th>
            <th>Zone Status </th>
        </tr>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.TimeS</td>
            <td>@d.ZoneType</td>
            <td>@d.ZoneStatus</td>

        </tr>
        }
    </table>
}


@if (Model is null)
{
    <h1>User Not Logged in</h1>
}


