@model IEnumerable<WebAppMVC.Models.ZonesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TimeS  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.TimeS })
            </td>
        </tr>
}
    </tbody>
</table>
